
form {
    justify-content:left;
    align-items: left;
    text-align: left;
}
.form-control input:focus {
    border: 3px solid #e8a3a3;
  }

.form-button {
    background-color: purple;
    border-radius: 10vh;
}